<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<compilation>
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation></system.web>
</configuration>
